#board{
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img{
    height: 20%;
    margin: 0 auto;
}
.h-spacer{
    width: 90%;
    height: 1px;
    background-color: #000;
    margin: 0 5%;
}
.v-spacer{
    width: 1px;
    background-color: #000;
}
p{
    text-align: center;
    margin: 0;
    font-size: 2rem;
    max-width: 45%;
}